name: Build ISO
on: push

jobs:
  build-iso:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Prepare base
        run: |
          sudo apt-get update
          sudo apt-get -y install coreutils debootstrap debhelper debian-archive-keyring fonts-open-sans
      - name: Install live-build
        run: |
          git clone https://salsa.debian.org/live-team/live-build.git
          cd live-build
          git checkout da16d81ed
          patch scripts/build/installer_debian-installer < ../installer.patch
          make && sudo make install
      - name: Config
        run: |
          sudo lb clean
          ./prep.sh
      - name: Build
        run: |
          sudo lb build

      - name: Get current date
        id: date
        run: echo "DATE=$(date +'%Y-%m-%d_%H:%M')" >> "$GITHUB_OUTPUT"
      - name: Rename release files
        run: mv live-image-amd64.hybrid.iso FyshOS-amd64-${{ steps.date.outputs.DATE }}.hybrid.iso
      - name: Upload
        uses: softprops/action-gh-release@v1
        with:
          tag_name: testing
          files: |
            FyshOS-amd64-${{ steps.date.outputs.DATE }}.hybrid.iso

      - name: Config 32bit
        run: |
          sudo lb clean
          ./prep-32.sh
          cp config/build-32 config/build
      - name: Build 32bit
        run: |
          sudo lb build

      - name: Rename release files 32bit
        run: mv live-image-i386.hybrid.iso FyshOS-i386-${{ steps.date.outputs.DATE }}.hybrid.iso
      - name: Upload 32bit
        uses: softprops/action-gh-release@v1
        with:
          tag_name: testing
          files: |
            FyshOS-i386-${{ steps.date.outputs.DATE }}.hybrid.iso
